<section>
  <form [formGroup]="addTodoGroup" (ngSubmit)="addTodo()">
    <input placeholder="What to do next?" formControlName="todoInput" />
    <button class="button" type="submit">Add Todo</button>
  </form>
  <h2 *ngIf="favoritesCount$ | async as favCount">
    Favorites - {{ favCount }}
  </h2>
  <ng-container *ngFor="let item of favorites$ | async">
    <app-list-item [@flyInOut]="'in'" [item]="item" (deleteRequest)="deleteItem($event)" (favoriteRequest)="favoriteItem($event)" (toggleCompleteRequest)="toggleComplete($event)">
    </app-list-item>
  </ng-container>
  <h2 *ngIf="uncompletedCount$ | async as unCompCount">
    Todo - {{ unCompCount }}
  </h2>
  <ng-container *ngFor="let item of items$ | async">
    <app-list-item [@flyInOut]="'in'" [item]="item" (deleteRequest)="deleteItem($event)" (favoriteRequest)="favoriteItem($event)" (toggleCompleteRequest)="toggleComplete($event)">
    </app-list-item>
  </ng-container>
  <h2 *ngIf="completedCount$ | async as compCount">
    Completed - {{ compCount }}
  </h2>
  <ng-container *ngFor="let item of completes$ | async">
    <app-list-item [@flyInOut]="'in'" [item]="item" (deleteRequest)="deleteItem($event)" (favoriteRequest)="favoriteItem($event)" (toggleCompleteRequest)="toggleComplete($event)">
    </app-list-item>
  </ng-container>
</section>
