:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host(.hover-todo .tofav::before) {
  display: block;
}

.check::before {
  content: "⚪";
}
.check.complete::before {
  content: "✔️";
}

.line-through {
  text-decoration: line-through;
}

.delete {
  cursor: pointer;
  font-size: 22px;
  line-height: 30px;
}

.favorite {
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
}

input {
  margin: 0 8px;
  padding: 5px;
}
